doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title *|MC:SUBJECT|*
    style
      include style.css
  body(leftmargin='0', marginwidth='0', topmargin='0', marginheight='0', offset='0')
    center
      table#bodyTable(align='center', border='0', cellpadding='0', cellspacing='0', height='100%', width='100%')
        tbody
          tr
            td#bodyCell(align='center', valign='top')
              // BEGIN TEMPLATE //
              table#templateContainer(border='0', cellpadding='0', cellspacing='0')
                tbody
                  tr
                    td(align='center', valign='top')
                      // BEGIN HEADER //
                      table#templateHeader(border='0', cellpadding='0', cellspacing='0', width='100%')
                        tbody
                          tr
                            td.headerContent(valign='top')
                              img#headerImage(src=emailHeaderImage, style='max-width:600px;', mc:label='header_image', mc:edit='header_image', mc:allowdesigner='', mc:allowtext='')
                      // // END HEADER
                  tr
                    td(align='center', valign='top')
                      // BEGIN BODY //
                      table#templateBody(border='0', cellpadding='0', cellspacing='0', width='100%')
                        tbody
                          tr
                            td.bodyContent(valign='top', style='text-align: center', mc:edit='body_content00')
                              h1 Welcome #{name},
                              | Thanks for confirming your attendance to  #{hackathonName}. 
                              br
                              |Some important information can be found in this email!
                              br
                              br
                              | At the event be prepared to show your unique ID (#{userId}) to identify yourself. The ID can also be found on your Dashboard.
                              br
                              |News about #{hackathonName} will be posted on the Facebook page constantly.
                              br
                              br
                              | The free accommodation provided by Junction will be held at schools near the event venue. Be sure to bring necessary stuff like matress, sleeping bag and pillow.
                              br
                              br
                              |Here a QR-code we've generated for you! Please TAKE A SCREENSHOT of it so you have it available even without internet!
                              |Come to the event with QR available to make the check in progress way faster, also remember to take documents that you can verify your Identity with!
                              br
                              img(src=qr, style='max-width:600px;', mc:label='qr_image', mc:edit='qr_image', mc:allowdesigner='', mc:allowtext='')
                              br
                              | In case something else has come along and you won't be able to come, you can cancel your spot so another applicant is able to join #{hackathonName}. This is done on your Dashboard.
                              br
                              br
                              a.pink.button(href=url)
                                | #{hackathonName} Dashboard
                          tr
                            td.bodyContent(valign='top', style='text-align: center', mc:edit='body_content00')
                              | For any questions, please don't hesitate to contact us at #{emailAddress}.
                              br
                              | Can't wait to meet you,
                              br
                              |  The #{hackathonName} Team
                      // // END BODY
                  tr
                    td(align='center', valign='top')
                      // BEGIN FOOTER //
                      table#templateFooter(border='0', cellpadding='0', cellspacing='0', width='100%')
                        tbody
                          tr
                            td.footerContent(valign='top', mc:edit='footer_content00')
                              a(href='https://facebook.com/' + facebookHandle) Like on Facebook
                              br
                              a(href='mailto:' + emailAddress) Email Us
                          tr
                            td.footerContent(valign='top', style='padding-top:0;', mc:edit='footer_content01')
                              em Copyright © #{hackathonName}, All rights reserved.
                              br
                      // // END FOOTER
                      // // END TEMPLATE
