| Welcome #{name}
|At the event be prepared to show your unique ID (#{userId}) to identify yourself. The ID can also be found on your Dashboard| A big thank you for the interest and enthusiasm! Next, we look forward reading it and informing you of the final decision. 
|News about #{hackathonName} will be posted on the Facebook page constantly.
| The free accommodation provided by Junction will be held at schools near the event venue. Be sure to bring necessary stuff like matress, sleeping bag and pillow.| #{url} Dashboard
|
| In case something else has come along and you won't be able to come, you can cancel your spot so another applicant is able to join #{hackathonName}. This is done on your Dashboard.| Thanks,
| #{hackathonName} Dashboard
|
| For any questions, please don't hesitate to contact us at #{emailAddress}.
| Can't wait to meet you,
|  The #{hackathonName} Team